In [1]:
import pandas as pd
import datetime as dt

#paths to march csvs
march2018 = "Resources/201803-citibike-tripdata.csv"
march2017 = "Resources/201703-citibike-tripdata.csv"
march2016 = "Resources/201603-citibike-tripdata.csv"

In [2]:
#import march 2018 data
df2018 = pd.read_csv(march2018)
df2018.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [3]:
#import march 2017 data
df2017 = pd.read_csv(march2017)
df2017.columns.tolist()

['Trip Duration',
 'Start Time',
 'Stop Time',
 'Start Station ID',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station ID',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike ID',
 'User Type',
 'Birth Year',
 'Gender']

In [4]:
# #locate station in canada
# start8D = df2018.loc[df2018['start station name'] == "8D Mobile 01", :]
# len(start8D)

In [5]:
# #locate all data misrepresentations gender=0,birthyear=69
# badDataDF = df2018.loc[(df2018['gender'] == 0) & (df2018['birth year'] == 1969), :]
# len(badDataDF)

In [6]:
#import march 2016 data
df2016 = pd.read_csv(march2016)
df2016.columns.tolist()

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [7]:
#isolate 2018 start and stop dates/times
df2018["Start Date"] = [df2018["starttime"][i].split(" ")[0] for i in range(len(df2018))]
df2018["Stop Date"] = [df2018["stoptime"][i].split(" ")[0] for i in range(len(df2018))]
df2018["Start Time"] = [df2018["starttime"][i].split(" ")[1] for i in range(len(df2018))]
df2018["Stop Time"] = [df2018["stoptime"][i].split(" ")[1] for i in range(len(df2018))]

In [8]:
#isolate 2016 start and stop dates/times
df2016["Start Date"] = [df2016["starttime"][i].split(" ")[0] for i in range(len(df2016))]
df2016["Stop Date"] = [df2016["stoptime"][i].split(" ")[0] for i in range(len(df2016))]
df2016["Start Time"] = [df2016["starttime"][i].split(" ")[1] for i in range(len(df2016))]
df2016["Stop Time"] = [df2016["stoptime"][i].split(" ")[1] for i in range(len(df2016))]

df2016["Start Date"] = [df2016["Start Date"][i] for i in range(len(df2016))]
df2016["Stop Date"] = [df2016["Stop Date"][i] for i in range(len(df2016))]

#change date format from m/d/yyyy to yyyy-mm-dd
start_fmt = []
stop_fmt = []
for i in range(len(df2016)):
    split_start = df2016["Start Date"][i].split("/")
    split_stop = df2016["Stop Date"][i].split("/")
    start_month = split_start[0].zfill(2)
    start_day = split_start[1].zfill(2)
    stop_month = split_stop[0].zfill(2)
    stop_day = split_stop[1].zfill(2)
    start_date = split_start[2]+"-"+start_month+"-"+start_day
    stop_date = split_stop[2]+"-"+stop_month+"-"+stop_day
    start_fmt.append(start_date)
    stop_fmt.append(stop_date)
df2016["Start Date"] = start_fmt
df2016["Stop Date"] = stop_fmt

df2016.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start Date,Stop Date,Start Time,Stop Time
0,1491,3/1/2016 06:52:42,3/1/2016 07:17:33,72,W 52 St & 11 Ave,40.767272,-73.993929,427,Bus Slip & State St,40.701907,-74.013942,23914,Subscriber,1982.0,1,2016-03-01,2016-03-01,06:52:42,07:17:33
1,1044,3/1/2016 07:05:50,3/1/2016 07:23:15,72,W 52 St & 11 Ave,40.767272,-73.993929,254,W 11 St & 6 Ave,40.735324,-73.998004,23697,Subscriber,1978.0,1,2016-03-01,2016-03-01,07:05:50,07:23:15

In [9]:
#isolate 2017 start and stop dates/times
df2017["Start Date"] = [df2017["Start Time"][i].split(" ")[0] for i in range(len(df2017))]
df2017["Stop Date"] = [df2017["Stop Time"][i].split(" ")[0] for i in range(len(df2017))]
df2017["Start Time"] = [df2017["Start Time"][i].split(" ")[1] for i in range(len(df2017))]
df2017["Stop Time"] = [df2017["Stop Time"][i].split(" ")[1] for i in range(len(df2017))]

In [10]:
#rename columns
df2016 = df2016.rename(columns={"tripduration": "Trip Duration", "bikeid": "Bike ID", "usertype": "User Type"})
df2018 = df2018.rename(columns={"tripduration": "Trip Duration", "bikeid": "Bike ID", "usertype": "User Type"})

columns_list = df2016.columns.tolist()

#change 2016 and 2018 columns to title case ot match 2017 columns
for column in columns_list:
    fmt_column = column.title()
    df2016 = df2016.rename(columns={column: fmt_column})
    df2018 = df2018.rename(columns={column: fmt_column})
df2016.columns.tolist()

['Trip Duration',
 'Starttime',
 'Stoptime',
 'Start Station Id',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station Id',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike Id',
 'User Type',
 'Birth Year',
 'Gender',
 'Start Date',
 'Stop Date',
 'Start Time',
 'Stop Time']

In [11]:
df2017.columns.tolist()

['Trip Duration',
 'Start Time',
 'Stop Time',
 'Start Station ID',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station ID',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike ID',
 'User Type',
 'Birth Year',
 'Gender',
 'Start Date',
 'Stop Date']

In [12]:
df2018.columns.tolist()

['Trip Duration',
 'Starttime',
 'Stoptime',
 'Start Station Id',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station Id',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike Id',
 'User Type',
 'Birth Year',
 'Gender',
 'Start Date',
 'Stop Date',
 'Start Time',
 'Stop Time']

In [13]:
#rename columns: change "Id" to "ID"
df2016 = df2016.rename(columns={"Start Station Id": "Start Station ID", "End Station Id": "End Station ID", "Bike Id": "Bike ID"})
df2018 = df2018.rename(columns={"Start Station Id": "Start Station ID", "End Station Id": "End Station ID", "Bike Id": "Bike ID"})

ordered_columns = ['Trip Duration',
 'Start Date',
 'Start Time',
 'Stop Date',
 'Stop Time',
 'Start Station ID',
 'Start Station Name',
 'Start Station Latitude',
 'Start Station Longitude',
 'End Station ID',
 'End Station Name',
 'End Station Latitude',
 'End Station Longitude',
 'Bike ID',
 'User Type',
 'Birth Year',
 'Gender']

df2018 = df2018[ordered_columns]
df2017 = df2017[ordered_columns]
df2016 = df2016[ordered_columns]

In [14]:
len(df2018)

976672

In [15]:
len(df2017)

727665

In [16]:
len(df2016)

919921

In [17]:
#2018 data cleaning: remove extra short or long trips, and a station that appears to be in Quebec
clean_df2018 = df2018.loc[(df2018["Trip Duration"] > 99) & 
                          (df2018["Trip Duration"] < 15000) & 
                          (df2018["Start Station Name"] != "8D Mobile 01"), :]
len(clean_df2018)

965496

In [18]:
#2017 data cleaning
clean_df2017 = df2017.loc[(df2017["Trip Duration"] > 99) & 
                          (df2017["Trip Duration"] < 15000) & 
                          (df2017["Start Station Name"] != "8D Mobile 01"), :]
len(clean_df2017)

721420

In [19]:
#2016 data cleaning
clean_df2016 = df2016.loc[(df2016["Trip Duration"] > 99) & 
                          (df2016["Trip Duration"] < 15000) & 
                          (df2016["Start Station Name"] != "8D Mobile 01"), :]
len(clean_df2016)

912151

In [20]:
#combine dataframes
combined_df = clean_df2018.append([clean_df2017, clean_df2016], ignore_index=True)
len(combined_df)

2599067

In [21]:
#save combined dataframe to csv
combined_df.to_csv("Resources/Clean_March_2016-18.csv")